@import "vars";

@font-face {
    font-family: 'Lato';
    src: url(practical-work-team-B/src/fonts/Lato/Lato-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url(practical-work-team-B/src/fonts/Lato/Lato-Black.ttf);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Lato';
    src: url(practical-work-team-B/src/fonts/Lato/Lato-Light.ttf);
    font-style: normal;
    font-weight: 300;
}