//Colors
$black: #000;
$white: #fff;
$lightcyan: #f1f8ff;
$lightgrey: #BAC3CC;
$cyan: #3677fd;
$darkgrey: #5a5a5a;
$blue: #3677fd;
$blue-light: #3695ff;
$blue-logo: #3677fd;
$white-dark: #f1f8ff;
$dark-blue: #194277;
//Fonts
$lato: 'Lato';
