@import "vars";
@import "fonts";
@import "icons";
@import "mixins";
@import "blocks/header";
@import "pages/page/index";
@import "blocks/footer";
* {
    box-sizing: border-box;
}
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
